$verde: #4EC198;

#caja{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    div{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-content: center;
        h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #ffffff;
            &:hover{
                color: black;
            }
            .no-selec {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none; 
            }
        }
        h3{
            color: white;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            span:hover{
                color: black;
            }
        }
        p{
            color: whitesmoke;
            font-size: large;
        }
        button{
            border-radius: 25px;
            width: 20%;
            margin: 25px auto;
            height: 7%;
            border:none;
            padding: 1%;
            background-color: #49585c9f;
            outline: none;
            color: rgb(245, 231, 227);
            &:hover{
                color: black;
                background-color: rgba(226, 211, 211, 0.63);
                
            }
           
            @media screen and (max-width: 600px) {
                width: 50%;
                height: 33px;
            }
        }
        img{
            height: 100%;
            margin: auto;
            width: 100%;
        }
        
    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
     
}
